.featured {
    width: 100%;
    height: 800vh;
}

.featuredIntroContainer {
    width: 100% !important;
    max-width: none !important;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featuredIntro {
    width: 100%;
    height: auto;
}

.featuredIntroHeader {
    text-align: right;
    grid-column-start: 7;
    grid-column-end: 12;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-self: flex-start;
}

.featuredIntroHeaderNumber {
    font-size: 8px;
}

.featuredIntroDescription {
    text-align: left;
    grid-column-start: 14;
    grid-column-end: 19;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-self: flex-start;
}

/* Brackets UI */

.featuredBrackets {
    /* height: 20%;
    width: 85%; */
    height: 0px;
    width: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.featuredBracketTopLeft {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-100%, -100%);
    border-top: 1px solid var(--jc-off-white);
    border-left: 1px solid var(--jc-off-white);
    border-radius: 5px 0 0 0;
}

.featuredBracketTopRight {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(100%, -100%);
    border-top: 1px solid var(--jc-off-white);
    border-right: 1px solid var(--jc-off-white);
    border-radius: 0 5px 0 0;
}

.featuredBracketBottomRight {
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(100%, 100%);
    border-bottom: 1px solid var(--jc-off-white);
    border-right: 1px solid var(--jc-off-white);
    border-radius: 0 0 5px 0;
}

.featuredBracketBottomLeft {
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 0%;
    left: 0%;
    transform: translate(-100%, 100%);
    border-bottom: 1px solid var(--jc-off-white);
    border-left: 1px solid var(--jc-off-white);
    border-radius: 0 0 0 5px;
}