.featured {
    width: 100%;
    height: 800vh;
    position: relative;
}

.featuredIntroContainer {
    width: 100%;
    max-width: none;
    height: auto;
    position: sticky;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featuredIntro {
    width: 100%;
    height: auto;
}

.featuredIntroHeader {
    text-align: right;
    grid-column-start: 7;
    grid-column-end: 12;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-self: flex-start;
}

.featuredIntroHeaderNumber {
    font-size: 8px;
}

.featuredIntroDescription {
    text-align: left;
    grid-column-start: 14;
    grid-column-end: 19;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-self: flex-start;
}

/* Work */

.featuredWorkContainer {}


.featuredWorkTitles {
    position: sticky;
    top: 20px;
    grid-column-start: 5;
    grid-column-end: 11;
}

.featuredWorkTitle {
    position: absolute;
    top: 0;
    left: 0;
    grid-column-start: 5;
    grid-column-end: 11;
}




.featuredWorkPreviews {
    display: flex;
    flex-direction: column;
    gap: 20vh;
    grid-column-start: 13;
    grid-column-end: 20;
}

.featuredWorkPreview {
    position: relative;
}

.featuredWorkPreviewMedia {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 4/5;
}

.featuredWorkScroll {
    grid-column-start: 21;
    grid-column-end: 22;
}

.featuredWorkScrollList {
    width: 100%;
    height: auto;
    position: sticky;
    top: 50%;


}

.featuredWorkScrollListNode {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 4/5;
}