.footer {
    width: 100%;
    height: 165px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    pointer-events: none;
    box-sizing: border-box;
    padding: 20px;
}

.footerInstructions {
    height: 12px;
    width: 0;
    transform: rotate(-90deg);
    transform-origin: left top;
    white-space: nowrap;

}

.footerCopyright {
    height: 12px;
    width: 0;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
}