.footer {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    pointer-events: none;
    box-sizing: border-box;
    padding: 20px;
}

.footerInstructions {
    height: auto;
    width: auto;
    transform: rotate(180deg);
    white-space: nowrap;

}

.footerCopyright {
    height: auto;
    width: auto;
    transform: rotate(180deg);
    white-space: nowrap;
}

.footerText {
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
}