:root {
  /* Fonts */
  --jc-default-font: 'Urbanist', helvetica, sans-serif;
  --jc-highlight-font: "Times New Roman", serif;
  --jc-detail-font: "JetBrains Mono", sans-serif;
  /* Colors */
  --jc-black: #0E0E10;
  --jc-off-black: #303030;
  --jc-dark-grey: #4a4a4a;
  --jc-grey: #7f7f7f;
  --jc-light-grey: #dcdcdc;
  --jc-off-white: #ececec;
  --jc-white: #ffffff;
  --jc-blue: #4552D9;
  --jc-purple: #53229F;
  /* Breakpoints */
  --jc-breakpoint-desktop: 1024px;
  --jc-breakpoint-tablet: 768px;
  --jc-breakpoint-mobile: 480px;
  /* UI */
  --jc-ui-border: 1px solid #303030;
}

/* html {
  color-scheme: dark;
} */

body {
  color: var(--jc-off-white);
  background: var(--jc-black);
  font-family: var(--jc-default-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}



/* Text */

p.detail {
  font-family: var(--jc-detail-font);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  color: var(--jc-off-white);
  letter-spacing: 0;
  mix-blend-mode: difference;
}

p.labelLarge {
  font-family: var(--jc-default-font);
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  color: var(--jc-off-white);
  mix-blend-mode: difference;
}

p.labelSmall {
  font-family: var(--jc-default-font);
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: var(--jc-off-white);
  mix-blend-mode: difference;
}

.textColorOffWhite {
  color: var(--jc-off-white)
}

.textColorLightGrey {
  color: var(--jc-light-grey)
}

.textColorGrey {
  color: var(--jc-grey)
}

.textColorDarkGrey {
  color: var(--jc-dark-grey)
}

/* Layout */

.grid {
  display: grid;
  grid-template-columns: repeat(24, minmax(0, 1fr));
  gap: 20px;
  box-sizing: border-box;
  padding: 0px 40px;
}