/* Nav */

.nav {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1000;
}

/* Icon */

.navIcon {
    display: flex;
    align-items: center;
    position: absolute;
    height: 80px;
    left: 20px;
    top: 0;
}

.navIconSVG {
    fill: var(--jc-off-white);
    mix-blend-mode: difference;
}

/* Details */

.navDetails {
    width: 100%;
    height: 80px;
}

.navTitleContainer {
    grid-column-start: 5;
    grid-column-end: 8;
    display: flex;
    align-items: center;
}

.navCurrentlyContainer {
    grid-column-start: 18;
    grid-column-end: 21;
    display: flex;
    align-items: center;
}

.navGeoContainer {
    grid-column-start: 21;
    grid-column-end: 23;
    display: flex;
    align-items: center;
}

/* Overlay */

.navOverlay {
    height: 100vh;
    width: 100vw;
    background: var(--jc-black);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: all;
    display: none;
}

/* Button */

.navButton {
    flex-shrink: 0;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 10px;
    right: 10px;
    box-sizing: border-box;
}

.navButtonBorder {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    border: var(--jc-ui-border);
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    background: var(--jc-black);
}

.navButtonCornerTopLeft {
    height: 5px;
    width: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-top: 1px solid var(--jc-off-white);
    border-left: 1px solid var(--jc-off-white);
    border-radius: 2px 0 0 0;
    transition: 0.2s ease;
}

.navButtonCornerTopRight {
    height: 5px;
    width: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-top: 1px solid var(--jc-off-white);
    border-right: 1px solid var(--jc-off-white);
    border-radius: 0 2px 0 0;
    transition: 0.2s ease;
}

.navButtonCornerBottomRight {
    height: 5px;
    width: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-bottom: 1px solid var(--jc-off-white);
    border-right: 1px solid var(--jc-off-white);
    border-radius: 0 0 2px 0;
    transition: 0.2s ease;
}

.navButtonCornerBottomLeft {
    height: 5px;
    width: 5px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-bottom: 1px solid var(--jc-off-white);
    border-left: 1px solid var(--jc-off-white);
    border-radius: 0 0 0 2px;
    transition: 0.2s ease;
}

.navButtonIcon {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navButtonIconVertical {
    position: absolute;
    height: 20px;
    width: 1px;
    background-color: var(--jc-off-white);
    transition: 0.2s ease;
}

.navButtonIconHorizontal {
    position: absolute;
    height: 1px;
    width: 20px;
    background-color: var(--jc-off-white);
    transition: 0.2s ease;
}

.navButtonIcon:hover .navButtonIconVertical,
.navButtonIcon:hover .navButtonIconHorizontal {
    background-color: var(--jc-blue);
}

.navButtonIcon:hover+.navButtonCornerTopLeft {
    border-top: 1px solid var(--jc-blue);
    border-left: 1px solid var(--jc-blue);
    transform: translate(100%, 100%);
}

.navButtonIcon:hover+.navButtonCornerTopLeft+.navButtonCornerTopRight {
    border-top: 1px solid var(--jc-blue);
    border-right: 1px solid var(--jc-blue);
    transform: translate(-100%, 100%);
}

.navButtonIcon:hover+.navButtonCornerTopLeft+.navButtonCornerTopRight+.navButtonCornerBottomRight {
    border-bottom: 1px solid var(--jc-blue);
    border-right: 1px solid var(--jc-blue);
    transform: translate(-100%, -100%);
}

.navButtonIcon:hover+.navButtonCornerTopLeft+.navButtonCornerTopRight+.navButtonCornerBottomRight+.navButtonCornerBottomLeft {
    border-bottom: 1px solid var(--jc-blue);
    border-left: 1px solid var(--jc-blue);
    transform: translate(100%, -100%);
}

/* Modal */

.navModal {
    height: 100%;
    width: 100%;
    padding: 60px 20px;
    opacity: 0;
    display: none;
}

.navModalContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navModalContentDirectory {
    height: auto;
    width: 100%;
}

.navModalContentHeader {
    height: auto;
    width: 100%;
    border-bottom: var(--jc-ui-border);
    padding: 20px;
    position: relative;
}

.navModalContentContact {
    height: auto;
    width: 100%;
}

.navModalContentContactList {
    width: 100%;
    height: auto;
}

.navModalContentContactLink {
    display: block;
    width: 100%;
    height: auto;
    padding: 20px;
    border-bottom: var(--jc-ui-border);
    position: relative;
}

.navModalContentContactTextLabel {
    transition: 0.2s ease;
}

.navModalContentContactLink:hover .navModalContentContactTextLabel {
    color: var(--jc-blue);
}

.navModalContentContactLinkText {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.navModalContentContactFooter {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 40px;
}

@media (max-width: 1024px) {
    .navTitleContainer {
        grid-column-start: 5;
        grid-column-end: 8;
        display: none;
        align-items: center;
    }

    .navCurrentlyContainer {
        grid-column-start: 18;
        grid-column-end: 21;
        display: none;
        align-items: center;
    }

    .navGeoContainer {
        grid-column-start: 21;
        grid-column-end: 23;
        display: none;
        align-items: center;
    }
}