.navLink {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: var(--jc-ui-border);
    position: relative;
}

/* Text */

.navLinkText {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.navLink:hover .navLinkText p {
    transition: 0.2s ease;
}

.navLinkTextNumber {
    width: auto;
    height: auto;
}

.navLinkTextLabel {
    width: auto;
    height: auto;
}

/* Button */

.navLinkButton {
    flex-shrink: 0;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    position: relative;
}

.navLinkButtonCornerTopLeft {
    height: 5px;
    width: 5px;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px solid var(--jc-off-white);
    border-left: 1px solid var(--jc-off-white);
    border-radius: 2px 0 0 0;
    transition: 0.2s ease;
}

.navLinkButtonCornerTopRight {
    height: 5px;
    width: 5px;
    position: absolute;
    top: 0;
    right: 0;
    border-top: 1px solid var(--jc-off-white);
    border-right: 1px solid var(--jc-off-white);
    border-radius: 0 2px 0 0;
    transition: 0.2s ease;
}

.navLinkButtonCornerBottomRight {
    height: 5px;
    width: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid var(--jc-off-white);
    border-right: 1px solid var(--jc-off-white);
    border-radius: 0 0 2px 0;
    transition: 0.2s ease;
}

.navLinkButtonCornerBottomLeft {
    height: 5px;
    width: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid var(--jc-off-white);
    border-left: 1px solid var(--jc-off-white);
    border-radius: 0 0 0 2px;
    transition: 0.2s ease;
}

.navLinkButtonIcon {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLinkButtonIconSVG {
    stroke: var(--jc-off-white);
    transition: 0.2s ease;
}

/* Hover */

.navLink:hover .navLinkButtonIconSVG {
    stroke: var(--jc-blue);
}

.navLink:hover .navLinkText p {
    color: var(--jc-blue);
}

.navLink:hover .navLinkButtonCornerTopLeft {
    border-top: 1px solid var(--jc-blue);
    border-left: 1px solid var(--jc-blue);
    transform: translate(100%, 100%);
}

.navLink:hover .navLinkButtonCornerTopRight {
    border-top: 1px solid var(--jc-blue);
    border-right: 1px solid var(--jc-blue);
    transform: translate(-100%, 100%);
}

.navLink:hover .navLinkButtonCornerBottomRight {
    border-bottom: 1px solid var(--jc-blue);
    border-right: 1px solid var(--jc-blue);
    transform: translate(-100%, -100%);
}

.navLink:hover .navLinkButtonCornerBottomLeft {
    border-bottom: 1px solid var(--jc-blue);
    border-left: 1px solid var(--jc-blue);
    transform: translate(100%, -100%);
}