.home {
    position: relative;
}

/* Scroll */

.homeScroll {
    pointer-events: none;
}

.homeScrollContent {
    pointer-events: none;
}

.homeBannerSpacer {
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

.homeContent {
    pointer-events: none;
}

/* Intro */

.homeIntro {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
    gap: 60px;
}

.homeIntroHeader {
    width: 100%;
    height: auto;
}

.homeIntroHeaderText {
    text-align: left;
    grid-column-start: 8;
    grid-column-end: 18;
}

.homeIntroDetails {
    width: 100%;
    height: auto;
}

.homeIntroDetail {
    text-align: left;
    grid-column-start: 8;
    grid-column-end: 18;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-self: flex-start;
}

.homeIntroDetailText {
    font-size: 24px;
}

.homeIntroList {
    list-style-type: none;
}

/* Featured */

.homeFeatured {
    height: auto;
    width: 100%;
}

.homeFeaturedPreviews {
    height: auto;
    width: 100%;
    padding: 100vh 40px;
}

.homeFeaturedPreviewsList {
    display: flex;
    flex-direction: column;
    gap: 100vh;
    grid-column-start: 8;
    grid-column-end: 18;
}

.homeFeaturedPreviewsList a {
    pointer-events: all;
}

.homeFeaturedPreviewMedia {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: auto;
    aspect-ratio: 4/5;
    border-radius: 5px;
    overflow: hidden;
}

.homeFeaturedPreviewMediaOverlay {
    height: 110%;
    width: 100%;
    position: absolute;
    opacity: .5;
    top: -5%;
    left: 0;
    right: 0;
    bottom: -5%;
    background: linear-gradient(#0E0E1000, #0E0E10);
    z-index: 1;
    transition: all 0.5s ease;
}

.homeFeaturedPreviewMediaOverlay:hover {
    opacity: 1;
}

.homeFeaturedPreviewMediaContainer {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 9/16;
}

.homeFeaturedStatic {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
}

.homeFeaturedStaticContainer {
    height: auto;
    width: 100%;
}

.homeFeaturedNumber {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-column-start: 5;
    grid-column-end: 8;
}

.homeFeaturedNumberContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

.homeFeaturedActiveNumbers {
    height: auto;
    width: 45px;
    position: relative;
    flex-shrink: 0;
}

.homeFeaturedActiveNumber {
    height: auto;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate(0, 30px);
}

.homeFeaturedNumberText {
    font-size: 24px;
}

.homeFeaturedTitles {
    grid-column-start: 9;
    grid-column-end: 18;
    position: relative;
}

.homeFeaturedTitle {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate(0, 30px);
}

.homeFeaturedTitleText {
    font-size: 64px;
}

.homeFeaturedCompany {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-column-start: 18;
    grid-column-end: 21;
    position: relative;
}

.homeFeaturedCompanyNames {
    height: auto;
    width: 100%;
    position: inherit;
}

.homeFeaturedCompanyName {
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate(0, 30px);
}

.homeFeaturedInvolvement {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-column-start: 21;
    grid-column-end: 25;
    position: relative;
}

.homeFeaturedInvolvementLists {
    height: auto;
    width: 100%;
    position: inherit;
}

.homeFeaturedInvolvementList {
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate(0, 30px);
}

.homeFeaturedInvolmentListItems {
    list-style-type: none;
}

/* CTA */

.homeCTA {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.homeCTAContent {
    height: auto;
    width: 100%;
}

.homeCTAHeader {
    grid-column-start: 5;
    grid-column-end: 21;
    padding-top: 120px;
}

.homeCTAHeaderText {
    font-size: 84px;
}

.homeCTATitle {
    grid-column-start: 5;
    grid-column-end: 8;
    position: relative;
    padding-top: 30px;
}

.homeCTALocale {
    grid-column-start: 9;
    grid-column-end: 15;
    padding-top: 30px;
}

.homeCTASocials {
    grid-column-start: 15;
    grid-column-end: 18;
    padding-top: 30px;
}

.homeCTASocial {
    pointer-events: all;
    transition: 0.2s all ease;
    padding: 0 5px;
}

.homeCTASocial:hover {
    color: var(--jc-blue)
}

.homeCTAButton {
    grid-column-start: 5;
    grid-column-end: 21;
    padding-top: 100px;
}

/* Desktop */

@media (max-width: 1024px) {

    .homeFeaturedNumber {
        display: flex;
        flex-direction: column;
        gap: 10px;
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .homeFeaturedNumberContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
    }

    .homeFeaturedActiveNumbers {
        height: auto;
        width: 30px;
        position: relative;
        flex-shrink: 0;
    }

    .homeFeaturedActiveNumber {
        height: auto;
        width: auto;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transform: translate(0, 30px);
    }

    .homeFeaturedNumberText {
        font-size: 16px;
    }
}

/* Tablet */

@media (max-width: 768px) {

    /* Intro */

    .homeIntro {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 5;
        gap: 60px;
    }

    .homeIntroHeader {
        width: 100%;
        height: auto;
    }

    .homeIntroHeaderText {
        text-align: left;
        grid-column: 1 / -1;
    }

    .homeIntroDetails {
        width: 100%;
        height: auto;
    }

    .homeIntroDetail {
        text-align: left;
        grid-column-start: 7;
        grid-column-end: 11;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        align-self: flex-start;
        grid-row: 1;
        grid-column: 1 / -1;
    }

    .homeFeaturedMobile {
        display: flex;
        flex-direction: column;
        gap: 80px;
        pointer-events: all;
    }

    .homeFeaturedProject {
        display: flex;
        flex-direction: column;
        grid-column: 1 / -1;
        gap: 10px;
    }

    .homeFeaturedPreviewMedia {

        height: auto;
        width: 100%;
        height: auto;
        aspect-ratio: 5/4;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
    }

    .homeFeaturedTitleText {
        font-size: 32px;
    }

    /* CTA */

    .homeCTA {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .homeCTAContent {
        height: auto;
        width: 100%;
    }

    .homeCTAHeader {
        grid-column-start: 5;
        grid-column-end: 21;
        padding-top: 120px;
        grid-column: 1 / -1;
    }

    .homeCTAHeaderText {
        font-size: 48px;
    }

    .homeCTATitle {
        grid-column-start: 1;
        grid-column-end: 3;
        position: relative;
    }

    .homeCTALocale {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .homeCTASocials {
        grid-column-start: 15;
        grid-column-end: 18;
        grid-column: 1 / -1;
    }

    .homeCTASocial {
        pointer-events: all;
        transition: 0.2s all ease;
        padding: 0 5px;
    }

    .homeCTASocial:hover {
        color: var(--jc-blue)
    }

    .homeCTAButton {
        grid-column-start: 5;
        grid-column-end: 21;
        padding-top: 100px;
        grid-column: 1 / -1;
    }

}