.project {
    position: relative;
}

/* Scroll */

.projectScroll {
    pointer-events: none;
}

.projectScrollContent {
    pointer-events: none;
}

.projectContent {
    pointer-events: none;
}

/* Intro */

.projectIntro {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.projectIntroContent {
    width: 100%;
    height: auto;
    padding-top: 180px;
    padding-bottom: 100px;
}

.projectIntroTitle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-column-start: 9;
    grid-column-end: 17;
}

/* Preview */

.projectPreview {
    width: 100%;
    height: auto;
}

.projectPreviewMedia {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: auto;
    aspect-ratio: 4/5;
    border-radius: 5px;
    overflow: hidden;
    grid-column-start: 8;
    grid-column-end: 18;
}

.projectPreviewMediaOverlay {
    height: 110%;
    width: 100%;
    position: absolute;
    opacity: 1;
    top: -5%;
    left: 0;
    right: 0;
    bottom: -5%;
    background: linear-gradient(#0E0E10, #0E0E1000);
    z-index: 1;
    transition: all 0.5s ease;
}

.projectPreviewMediaContainer {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 9/16;
}

/* Overview */

.projectOverview {
    width: 100%;
    height: auto;
    padding: 100px 0;
}

.projectPreviewText {
    display: flex;
    flex-direction: column;
    gap: 40px;
    grid-column-start: 8;
    grid-column-end: 18;
}

/* CTA */

.projectCTA {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.projectCTAContent {
    height: auto;
    width: 100%;
}

.projectCTABack {
    grid-column-start: 5;
    grid-column-end: 9;
}

.projectCTABackButton {
    width: 100%;
    height: 300px;
    border: var(--jc-ui-border);
    background-color: var(--jc-black);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectCTANext {
    grid-column-start: 9;
    grid-column-end: 21;
}

.projectCTANextButton {
    width: 100%;
    height: 300px;
    border: var(--jc-ui-border);
    background-color: var(--jc-black);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectCTATitle {
    grid-column-start: 5;
    grid-column-end: 8;
    position: relative;
    padding-top: 10px;
}

.projectCTALocale {
    grid-column-start: 9;
    grid-column-end: 15;
    padding-top: 10px;
}

.projectCTASocials {
    grid-column-start: 15;
    grid-column-end: 18;
    padding-top: 10px;
}

.projectCTASocial {
    pointer-events: all;
    transition: 0.2s all ease;
    padding: 0 5px;
}

.projectCTASocial:hover {
    color: var(--jc-blue)
}

/* Sticky */

.projectStatic {
    width: 100%;
    height: 200px;
    position: fixed;
    top: 200px;
    left: 0;
    pointer-events: none;
}

.projectStaticContent {
    display: flex;
    width: 100%;
    height: auto;
    grid-column-start: 5;
    grid-column-end: 9;
    position: relative;
}

.projectStaticDetails {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
}

.projectStaticDetailsNumber {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projectStaticDetailsCompany {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projectStaticDetailsInvolvement {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projectStaticDetailsInvolvementList {
    list-style-type: none;
}

.projectStaticAnchors {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transform: translate(0, 10px);
    pointer-events: all;
}