.footer {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    padding: 20px 40px;
}

.footerSignature {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    align-items: center;
}

.footerVersion {
    grid-column-start: 5;
    grid-column-end: 8;
    display: flex;
    align-items: center;
}

.footerScrollTracker {
    grid-column-start: 18;
    grid-column-end: 25;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.footerScrollTracker a {
    cursor: pointer;
}

.footerScrollTrackerProgressBar {
    width: 100%;
    flex-grow: 1;
    height: 1px;
    background-color: var(--jc-off-black);
}

.footerScrollTrackerProgressBarFill {
    height: 100%;
    width: 0%;
    background-color: var(--jc-off-white);
}

.footerScrollTrackerPercentage {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    height: auto;
    width: auto;
}

.footerScrollTrackerPercentageText {
    text-align: center;
    width: 30px;
    height: auto;
}

@media (max-width: 1024px) {
    .footer {
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 0;
        box-sizing: border-box;
        padding: 20px 20px
    }

    .footerSignature {
        grid-column-start: 1;
        grid-column-end: 5;
        display: none;
        align-items: center;
    }

    .footerVersion {
        grid-column-start: 5;
        grid-column-end: 8;
        display: none;
        align-items: center;
    }

    .footerScrollTracker {
        grid-column-start: 18;
        grid-column-end: 25;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        grid-column: 1 / -1;
    }
}