.banner {
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.bannerOverlay {
    background: var(--jc-black);
    opacity: 0;
    height: 101%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.bannerGradient {
    background: linear-gradient(#0e0e10ea, #0e0e10a0);
    opacity: 1;
    height: 101%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.bannerMediaContainer {
    width: 100%;
    height: auto;
    aspect-ratio: 9/16;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.bannerContent {
    z-index: 4;
    position: relative;
    padding-bottom: 60px;

}

.bannerContentTitle {
    grid-column-start: 5;
    grid-column-end: 12;
}